In [0]:
# data analysis packages
import pandas as pd
import numpy as np

In [0]:
from google.colab import drive
drive.mount('/content/drive/')

import os
os.chdir("/content/drive/My Drive/Colab Notebooks/unsw_2018_IoT_botnet_all_feat") #/EdgeML/tf/sampled_dataset - Colab Notebooks/unsw_2018_IoT_botnet_all_feat

In [0]:
full_path1 = './UNSW_2018_IoT_Botnet_Full5pc_1.csv'

full_df1 = pd.read_csv(full_path1)
full_df1.shape

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1000000, 46)

In [0]:
full_path2 = './UNSW_2018_IoT_Botnet_Full5pc_2.csv'

full_df2 = pd.read_csv(full_path2)
full_df2.shape

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1000000, 46)

In [0]:
full_path3 = './UNSW_2018_IoT_Botnet_Full5pc_3.csv'

full_df3 = pd.read_csv(full_path3)
full_df3.shape

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1000000, 46)

In [0]:
full_path4 = './UNSW_2018_IoT_Botnet_Full5pc_4.csv'

full_df4 = pd.read_csv(full_path4)
full_df4.shape

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(668522, 46)

In [0]:
frames = [full_df1, full_df2, full_df3, full_df4]
combined_df = pd.concat(frames)

combined_df = combined_df.sample(frac =.50)

In [0]:
combined_df['category'].unique()

array(['DDoS', 'DoS', 'Reconnaissance', 'Normal', 'Theft'], dtype=object)

In [0]:
combined_df['subcategory'].unique()

array(['UDP', 'TCP', 'Service_Scan', 'OS_Fingerprint', 'HTTP', 'Normal',
       'Keylogging', 'Data_Exfiltration'], dtype=object)

In [0]:
rec = combined_df[combined_df['category'] == 'Reconnaissance']

rec_ss_df = rec[rec['subcategory'] == 'Service_Scan']

rec_ss_df['subcategory_number'] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [0]:
rec_osf_df = rec[rec['subcategory'] == 'OS_Fingerprint']

rec_osf_df['subcategory_number'] = 2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
ddos = combined_df[combined_df['category'] == 'DDoS']

ddos_tcp_df = ddos[ddos['subcategory'] == 'TCP']

ddos_tcp_df['subcategory_number'] = 3

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [0]:
ddos_udp_df = ddos[ddos['subcategory'] == 'UDP']

ddos_udp_df['subcategory_number'] = 4

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
ddos_http_df = ddos[ddos['subcategory'] == 'HTTP']

ddos_http_df['subcategory_number'] = 5

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
dos = combined_df[combined_df['category'] == 'DoS']

dos_tcp_df = dos[dos['subcategory'] == 'TCP']

dos_tcp_df['subcategory_number'] = 6

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [0]:
dos_udp_df = dos[dos['subcategory'] == 'UDP']

dos_udp_df['subcategory_number'] = 7

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
dos_http_df = dos[dos['subcategory'] == 'HTTP']

dos_http_df['subcategory_number'] = 8

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
norm = combined_df[combined_df['subcategory'] == 'Normal']
norm['subcategory_number'] = 9

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
theft = combined_df[combined_df['category'] == 'Theft']

theft_key_df = theft[theft['subcategory'] == 'Keylogging']

theft_key_df['subcategory_number'] = 10

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [0]:
theft_de_df = theft[theft['subcategory'] == 'Data_Exfiltration']

theft_de_df['subcategory_number'] = 11

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
frames3 = [rec_ss_df, rec_osf_df, ddos_tcp_df, ddos_udp_df, ddos_http_df, dos_tcp_df, dos_udp_df, dos_http_df, norm, theft_key_df, theft_de_df]
real_df = pd.concat(frames3)

In [0]:
real_df.head()

        pkSeqID         stime  ...   subcategory  subcategory_number
643238  3643239  1.526349e+09  ...  Service_Scan                   1
650799  3650800  1.526349e+09  ...  Service_Scan                   1
655039  3655040  1.526349e+09  ...  Service_Scan                   1
617309  3617310  1.526346e+09  ...  Service_Scan                   1
627089  3627090  1.526348e+09  ...  Service_Scan                   1

[5 rows x 47 columns]

In [0]:
real_df.to_csv('botiot_12c.csv')

# Quick feature selection

In [0]:
#test_df =  real_df[['subcategory_number', 'dur', 'flgs_number', 'proto_number', 'pkts', 'bytes', 'state_number']] #'dur' 'ltime' 'stime'
test_df = real_df.drop(['flgs', 'proto', 'saddr', 'daddr', 'sport', 'dport', 'state', 'category', 'subcategory', 'attack'],axis=1)
test_df = test_df.drop(['TnBPSrcIP', 'TnBPDstIP', 'TnP_PSrcIP', 'TnP_PDstIP', 'TnP_PerProto', 'TnP_Per_Dport', 'AR_P_Proto_P_SrcIP', 'AR_P_Proto_P_DstIP', 'N_IN_Conn_P_DstIP', 'N_IN_Conn_P_SrcIP', 'AR_P_Proto_P_Sport', 'AR_P_Proto_P_Dport', 'Pkts_P_State_P_Protocol_P_DestIP', 'Pkts_P_State_P_Protocol_P_SrcIP'],axis=1)
                     
test_df = test_df.sample(frac =.05)
test_df.head()

        pkSeqID         stime  flgs_number  ...     srate  drate  subcategory_number
282189  2282190  1.528096e+09            2  ...  0.359813    0.0                   3
555854  1555855  1.528085e+09            1  ...  0.239628    0.0                   7
318428  3318429  1.528099e+09            1  ...  0.490791    0.0                   4
180779  1180780  1.528085e+09            1  ...  0.190575    0.0                   7
666482  3666483  1.526350e+09            1  ...  0.000000    0.0                   1

[5 rows x 23 columns]

In [0]:
test_df = real_df[['proto_number', 'flgs_number', 'pkts', 'bytes', 'dur', 'mean', 'rate', 'sum', 'subcategory_number']]
test_df = test_df.sample(frac =.04)

In [0]:
#putting labels in first index
cols = test_df.columns.tolist()
cols = cols[-1:] + cols[:-1]

In [0]:
test_df = test_df[cols]
test_df.head()

        subcategory_number  proto_number  ...      rate        sum
714274                   7             3  ...  0.344549  10.334875
250503                   7             3  ...  0.212687  11.121402
80568                    4             3  ...  0.729585  10.965061
9800                     6             1  ...  0.130254   0.000000
718985                   3             1  ...  0.341073   4.859512

[5 rows x 9 columns]

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

X = test_df.drop(['subcategory_number'],axis=1).values

Y = test_df['subcategory_number'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

knn = KNeighborsClassifier(n_neighbors=2)

knn = knn.fit(X_train,Y_train)

Y_pred = knn.predict(X_test)

knn_acc = knn.score(X_test, Y_test)
knn_acc

0.9905501794557267

# Creating Features

In [0]:
real_df['stime'].nunique()

357167

In [0]:
print(real_df['stime'].max())
print(real_df['stime'].min())

print(real_df['stime'].max() - real_df['stime'].min())

1529380790.94896
1526344031.6651402
3036759.283819914

In [0]:
mins = 3036759/60
mins/60

843.5441666666667

In [0]:
real_df['dur'].max()

2771.485107

# Preprocessing For ProtoNN and Bonsai

In [0]:
test_df['extra'] = 0

In [0]:
from sklearn.model_selection import train_test_split

s_train_combined, s_test_combined = train_test_split(test_df, test_size=0.3)

In [0]:
s_train_combined_np = s_train_combined.to_numpy()
s_train_combined_np.shape

(51359, 10)

In [0]:
s_test_combined_np = s_test_combined.to_numpy()
s_test_combined_np.shape

(22011, 10)

In [0]:
np.save('bot_iot_train_10', s_train_combined_np)

np.save('bot_iot_test_10', s_test_combined_np)

# For SFSVC

## Training

In [0]:
s_train_combined = s_train_combined.drop(columns=['extra'])
#making an array of just the labels for the data

training_labels_df = s_train_combined['subcategory_number'].copy()

In [0]:
training_labels = training_labels_df.to_numpy()

In [0]:
t_labels = training_labels.reshape(1, training_labels_df.shape[0])
t_labels.shape

(1, 51359)

In [0]:
t_labels = t_labels.astype(np.double)
t_labels.shape

(1, 51359)

In [0]:
training_samples_df = s_train_combined.drop(columns=['subcategory_number'])
#training_samples_df.head()

In [0]:
training_samples = training_samples_df.to_numpy()
training_samples.shape

(51359, 8)

In [0]:
t_samples = np.swapaxes(training_samples,0,1)
t_samples.shape

(8, 51359)

In [0]:
import scipy.io as sio

#Format for training: [('Samples', (256, 7291), 'double'), ('Labels', (1, 7291), 'double')]

#Format for training: [('Samples', (n, ntr), 'double'), ('Labels', (1, ntr), 'double')]
'''
Where
n = input vector size
m = num classes
ntr = num vectors in training
nts = num vectors in testing
'''

sio.savemat('botnet2_8_train.mat', {'Samples':t_samples, 'Labels':t_labels})

## Testing

In [0]:
s_test_combined = s_test_combined.drop(columns=['extra'])
#making an array of just the labels for the data

test_labels_df = s_test_combined['subcategory_number'].copy()

In [0]:
test_labels = test_labels_df.to_numpy()

In [0]:
te_labels = test_labels.reshape(1, test_labels_df.shape[0])
te_labels.shape

(1, 22011)

In [0]:
te_labels = te_labels.astype(np.double)
te_labels.shape

(1, 22011)

In [0]:
test_samples_df = s_test_combined.drop(columns=['subcategory_number'])

In [0]:
test_samples = test_samples_df.to_numpy()
test_samples.shape

(22011, 8)

In [0]:
te_samples = np.swapaxes(test_samples,0,1)
te_samples.shape

(8, 22011)

In [0]:
sio.savemat('botnet2_8_test.mat', {'Samples':te_samples, 'Labels':te_labels})