In [0]:
# data analysis packages
import pandas as pd
import numpy as np

# loading bar
!pip install --force https://github.com/chengs/tqdm/archive/colab.zip
from tqdm import tqdm_notebook as tqdm

Collecting https://github.com/chengs/tqdm/archive/colab.zip
  Downloading https://github.com/chengs/tqdm/archive/colab.zip
     - 706kB 1.6MB/s
Building wheels for collected packages: tqdm
  Building wheel for tqdm (setup.py) ... done
  Stored in directory: /tmp/pip-ephem-wheel-cache-cxgwz8su/wheels/41/18/ee/d5dd158441b27965855b1bbae03fa2d8a91fe645c01b419896
Successfully built tqdm
Installing collected packages: tqdm
  Found existing installation: tqdm 4.28.1
    Uninstalling tqdm-4.28.1:
      Successfully uninstalled tqdm-4.28.1
Successfully installed tqdm-4.28.1

In [0]:
from google.colab import drive
drive.mount('/content/drive/')

import os
os.chdir("/content/drive/My Drive/Dataset")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

## Loading Datasets

In [0]:
full_benign_path = './full_benign_df.csv'

full_benign_df = pd.read_csv(full_benign_path)
full_benign_df.shape

(555932, 116)

In [0]:
full_mirai_path = './full_mirai_df.csv'

full_mirai_df = pd.read_csv(full_mirai_path)
full_mirai_df.shape

(3668402, 116)

In [0]:
full_bashlite_path = './full_bashlite_df.csv'

full_bashlite_df = pd.read_csv(full_bashlite_path)
full_bashlite_df.shape

(2838272, 116)

In [0]:
#Sampling 1% of each of the three classes

sampled_benign_df = full_benign_df.sample(frac =.01)

sampled_mirai_df = full_mirai_df.sample(frac =.01)

sampled_bashlite_df = full_bashlite_df.sample(frac =.01)

## Fishers Score

In [0]:
dataframes = [full_benign_df, full_mirai_df, full_bashlite_df]

sampled_dfs = [sampled_benign_df, sampled_mirai_df, sampled_bashlite_df]

#have to create a list with feature name and fisher score from it

total_points = (len(full_benign_df.index) + len(full_mirai_df.index) + len(full_bashlite_df.index))

feature_fisher_scores = pd.DataFrame(columns=['feature', 'fisher_score'])

features = []
fs = []
k = 0

for j in tqdm(full_benign_df.columns):
  numerator = 0
  denom = 0
  #for i in dataframes:
  for i in sampled_dfs:
    #pi = len(i.index)  / total_points
    pi = len(i.index)
    #i_frames = [full_benign_df.iloc[:,k], full_mirai_df.iloc[:,k], full_bashlite_df.iloc[:,k]]
    i_frames = [sampled_benign_df.iloc[:,k], sampled_mirai_df.iloc[:,k], sampled_bashlite_df.iloc[:,k]]
    
    full_df = pd.concat(i_frames)

    total_mean = np.mean(full_df)
    i_mean = np.mean((i.iloc[:,k]))

    mean_terms = ((total_mean - i_mean)**2)
    #mean_terms = (abs(total_mean - i_mean))
    
    numerator = (pi*mean_terms) + numerator
    
    sd = np.std((i.iloc[:,k]))
    denom = (pi*((sd)**2)) + denom
    #denom = (pi*(abs(sd))) + denom
  
  k = k + 1
  fisher_score = numerator/denom
  features.append(j)
  fs.append(fisher_score)

feature_fisher_scores['feature'] = features
feature_fisher_scores['fisher_score'] = fs

feature_fisher_scores.head()

/usr/local/lib/python3.6/dist-packages/tqdm/_tqdm_notebook.py:88: TqdmExperimentalWarning: Detect Google Colab 0.0.1a2 and thus load dummy ipywidgets package. Note that UI is different from that in Jupyter. See https://github.com/tqdm/tqdm/pull/640
  " See https://github.com/tqdm/tqdm/pull/640".format(colab.__version__), TqdmExperimentalWarning)

              feature  fisher_score
0          Unnamed: 0      0.069945
1    MI_dir_L5_weight      0.492729
2      MI_dir_L5_mean      0.591789
3  MI_dir_L5_variance      0.506156
4    MI_dir_L3_weight      0.475006

In [0]:
feature_fisher_scores.sort_values(['fisher_score'], ascending=False).head(10)

                  feature  fisher_score
13    MI_dir_L0.01_weight      1.084794
28         H_L0.01_weight      1.084794
14      MI_dir_L0.01_mean      0.766793
29           H_L0.01_mean      0.766779
11       MI_dir_L0.1_mean      0.757560
26            H_L0.1_mean      0.757559
8          MI_dir_L1_mean      0.726792
23              H_L1_mean      0.726792
30       H_L0.01_variance      0.701236
15  MI_dir_L0.01_variance      0.701235

# Models From Reduced Feature Sets

## Preprocessing the data

In [0]:
s_ben_df = sampled_benign_df

s_ben_df['label'] = 0

s_mir_df = sampled_mirai_df

s_mir_df['label'] = 1

s_bash_df = sampled_bashlite_df

s_bash_df['label'] = 2

s_bash_df = s_bash_df.drop(columns=['Unnamed: 0'])
s_mir_df = s_mir_df.drop(columns=['Unnamed: 0'])
s_ben_df = s_ben_df.drop(columns=['Unnamed: 0'])

frames = [s_bash_df, s_mir_df, s_ben_df]
s_combined_df = pd.concat(frames)

s_rand_combined_df = s_combined_df.sample(frac=1).reset_index(drop=True)

s_rand_combined_df.head(10)

   MI_dir_L5_weight  MI_dir_L5_mean  ...  HpHp_L0.01_pcc  label
0        146.055453      352.575175  ...             0.0      1
1          1.000000       60.000000  ...             0.0      2
2        175.348580       74.007747  ...             0.0      2
3         33.587863       74.087364  ...             0.0      2
4        111.590034      547.290335  ...             0.0      1
5         30.760928       60.000493  ...             0.0      1
6          1.000000       60.000000  ...             0.0      2
7          1.000000       60.000000  ...             0.0      2
8         70.525120      473.703985  ...             0.0      1
9         96.831874      529.187391  ...             0.0      1

[10 rows x 116 columns]

## Two Features


*   Two highest scoring features from the paper:
** Host_MAC&IP-10sec-Variance
** Host_IP-10sec-Variance

*   Two highest scoring features from this implementation:
** Host_MAC&IP-100ms-Packet Count
** Host_IP-100ms-Packet Count

### Decision Trees

In [0]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split


X = s_rand_combined_df[['H_L5_mean', 'MI_dir_L5_mean']].copy()

#X = s_rand_combined_df.drop(['label'],axis=1).values

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.9227392863885218

### K-Nearest Neighbour

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

X = s_rand_combined_df[['H_L5_mean', 'MI_dir_L5_mean']].copy()

#X = s_rand_combined_df.drop(['label'],axis=1).values

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

nn = KNeighborsClassifier()

nn = nn.fit(X_train,Y_train)

Y_pred = nn.predict(X_test)

nn_acc = nn.score(X_test, Y_test)
nn_acc

0.9601189352463658

## Three Features

### Decision Tree

In [0]:


X = s_rand_combined_df[['H_L5_mean', 'MI_dir_L5_mean', 'MI_dir_L3_mean']].copy()

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.9599773456673589

### K-Nearest Neighbour

In [0]:
X = s_rand_combined_df[['H_L5_mean', 'MI_dir_L5_mean', 'MI_dir_L3_mean']].copy()

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

nn = KNeighborsClassifier()

nn = nn.fit(X_train,Y_train)

Y_pred = nn.predict(X_test)

nn_acc = nn.score(X_test, Y_test)
nn_acc

0.98074381725505

## Ten Features

### Decision Tree

In [0]:
X = s_rand_combined_df[['H_L5_mean', 'MI_dir_L5_mean', 'MI_dir_L3_mean' ,'H_L3_mean', 'H_L5_variance', 
                        'MI_dir_L5_variance', 'MI_dir_L1_variance', 'H_L1_variance', 'H_L3_variance', 'MI_dir_L3_variance']].copy()

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier(random_state=42)

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.9885784406267699

### K-Nearest Neighbour

In [0]:
X = s_rand_combined_df[['H_L5_mean', 'MI_dir_L5_mean', 'MI_dir_L3_mean' ,'H_L3_mean', 'H_L5_variance', 
                        'MI_dir_L5_variance', 'MI_dir_L1_variance', 'H_L1_variance', 'H_L3_variance', 'MI_dir_L3_variance']].copy()

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

nn = KNeighborsClassifier(n_neighbors=3)

nn = nn.fit(X_train,Y_train)

Y_pred = nn.predict(X_test)

nn_acc = nn.score(X_test, Y_test)
nn_acc

0.9815461582027563

# Feature Category Results

## Host-IP

In [0]:
X = s_rand_combined_df.iloc[:,16:30]

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.999716820841986

## Host-MAC&IP

In [0]:

X = s_rand_combined_df.iloc[:,0:15]

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.9996696243156503

## Channel

In [0]:


X = s_rand_combined_df.iloc[:,30:65]

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.7754861242212573

## Network Jitter

In [0]:
X = s_rand_combined_df.iloc[:,65:80]

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.9982065319992448

## Socket

In [0]:
X = s_rand_combined_df.iloc[:,80:115]

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.6983198036624504

# Time Interval Results

## 100 ms

In [0]:

x1 = s_rand_combined_df.iloc[:,12:15]
x2 = s_rand_combined_df.iloc[:,27:30]
x3 = s_rand_combined_df.iloc[:,58:65]
x4 = s_rand_combined_df.iloc[:,77:80]
x5 = s_rand_combined_df.iloc[:,108:115]

x_100_frames = [x1, x2, x3, x4, x5]

X = pd.concat(x_100_frames, axis=1)

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.9996696243156503

## 500 ms

In [0]:
x1 = s_rand_combined_df.iloc[:,9:12]
x2 = s_rand_combined_df.iloc[:,24:27]
x3 = s_rand_combined_df.iloc[:,51:58]
x4 = s_rand_combined_df.iloc[:,74:77]
x5 = s_rand_combined_df.iloc[:,101:108]

x_500_frames = [x1, x2, x3, x4, x5]

X = pd.concat(x_100_frames, axis=1)

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.9996224277893148

## 1.5 sec

In [0]:
x1 = s_rand_combined_df.iloc[:,6:9]
x2 = s_rand_combined_df.iloc[:,21:24]
x3 = s_rand_combined_df.iloc[:,44:51]
x4 = s_rand_combined_df.iloc[:,71:74]
x5 = s_rand_combined_df.iloc[:,94:101]

x_15_frames = [x1, x2, x3, x4, x5]

X = pd.concat(x_100_frames, axis=1)

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.9996696243156503

## 10 sec

In [0]:
x1 = s_rand_combined_df.iloc[:,3:6]
x2 = s_rand_combined_df.iloc[:,18:21]
x3 = s_rand_combined_df.iloc[:,37:44]
x4 = s_rand_combined_df.iloc[:,68:71]
x5 = s_rand_combined_df.iloc[:,87:94]

x_10_frames = [x1, x2, x3, x4, x5]

X = pd.concat(x_100_frames, axis=1)

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.9996224277893148

## 1 min

In [0]:
x1 = s_rand_combined_df.columns[0:3]
x2 = s_rand_combined_df.columns[15:18]
x3 = s_rand_combined_df.columns[30:37]
x4 = s_rand_combined_df.columns[65:68]
x5 = s_rand_combined_df.columns[80:87]

x_1_frames = [x1, x2, x3, x4, x5]

X = pd.concat(x_100_frames, axis=1)

Y = s_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.9996224277893148

# Device-Based Modeling

# Balanced Vs Skewed

## Unbalanced: Skewed to Normal

In [0]:
#Numbers taken from the specificatioons in the paper

unb_benign_df = full_benign_df.sample(n=49683)
unb_mirai_df = full_mirai_df.sample(n=2870)
unb_bashlite_df = full_bashlite_df.sample(n=2798)

unb_benign_df = unb_benign_df.drop(columns=['Unnamed: 0'])
unb_mirai_df = unb_mirai_df.drop(columns=['Unnamed: 0'])
unb_bashlite_df = unb_bashlite_df.drop(columns=['Unnamed: 0'])

unb_benign_df['label'] = 0

unb_mirai_df['label'] = 1

unb_bashlite_df['label'] = 2

frames = [unb_benign_df, unb_mirai_df, unb_bashlite_df]
unb_combined_df = pd.concat(frames)

unb1_rand_combined_df = unb_combined_df.sample(frac=1).reset_index(drop=True)

In [0]:
X = unb1_rand_combined_df[['H_L5_mean', 'MI_dir_L5_mean', 'MI_dir_L3_mean']].copy()

Y = unb1_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.941948693243406

## Unbalanced: Skewed to Attacks

In [0]:
#Numbers taken from the specificatioons in the paper

unb_benign_df = full_benign_df.sample(n=5025)
unb_mirai_df = full_mirai_df.sample(n=29351)
unb_bashlite_df = full_bashlite_df.sample(n=28382)

unb_benign_df = unb_benign_df.drop(columns=['Unnamed: 0'])
unb_mirai_df = unb_mirai_df.drop(columns=['Unnamed: 0'])
unb_bashlite_df = unb_bashlite_df.drop(columns=['Unnamed: 0'])

unb_benign_df['label'] = 0

unb_mirai_df['label'] = 1

unb_bashlite_df['label'] = 2

frames = [unb_benign_df, unb_mirai_df, unb_bashlite_df]
unb_combined_df = pd.concat(frames)

unb2_rand_combined_df = unb_combined_df.sample(frac=1).reset_index(drop=True)

In [0]:
X = unb1_rand_combined_df[['H_L5_mean', 'MI_dir_L5_mean', 'MI_dir_L3_mean']].copy()

Y = unb1_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.942370227628568

## Balanced

In [0]:
#Numbers taken from the specificatioons in the paper

unb_benign_df = full_benign_df.sample(n=4000)
unb_mirai_df = full_mirai_df.sample(n=4000)
unb_bashlite_df = full_bashlite_df.sample(n=4000)

unb_benign_df = unb_benign_df.drop(columns=['Unnamed: 0'])
unb_mirai_df = unb_mirai_df.drop(columns=['Unnamed: 0'])
unb_bashlite_df = unb_bashlite_df.drop(columns=['Unnamed: 0'])

unb_benign_df['label'] = 0

unb_mirai_df['label'] = 1

unb_bashlite_df['label'] = 2

frames = [unb_benign_df, unb_mirai_df, unb_bashlite_df]
unb_combined_df = pd.concat(frames)

unb2_rand_combined_df = unb_combined_df.sample(frac=1).reset_index(drop=True)

In [0]:
X = unb1_rand_combined_df[['H_L5_mean', 'MI_dir_L5_mean', 'MI_dir_L3_mean']].copy()

Y = unb1_rand_combined_df['label'].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

dt = DecisionTreeClassifier()

dt = dt.fit(X_train,Y_train)

Y_pred = dt.predict(X_test)

dt_acc = dt.score(X_test, Y_test)
dt_acc

0.9423100084306877